body {
  text-align: center;
  margin: 10%;
  font-size: 20px;
}

.dragon-avatar-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragon-avatar-image-pattern {
  position: absolute;
}

.dragon-avatar-image-background {
  position: absolute;
}

.dragon-avatar-image {
  z-index: 0;
}
